.light-mode {
  height: 100px;
  width: 100px;
}

.light-mode .overlap-group {
  height: 100px;
  position: relative;
}

.light-mode .rectangle {
  background-color: #ffffff;
  border-radius: 1px;
  height: 13px;
  left: 21px;
  position: absolute;
  top: 40px;
  width: 59px;
}

.light-mode .logo {
  height: 100px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100px;
}
